#!/bin/sh
#
# Set up environment for QC pipeline script
#
# Edit this as appropriate for your local setup
#
# Programs
#
# (Leave blank for programs already on standard PATH)
export FASTQ_SCREEN=/path/to/fastq_screen
export SOLID2FASTQ=/path/to/solid2fastq
export QC_BOXPLOTTER=/path/to/genomics/NGS-general/qc_boxplotter.sh
export SOLID_PREPROCESS_FILTER=/path/to/SOLiD_preprocess_filter_v2.pl
export REMOVE_MISPAIRS=/path/to/genomics/NGS-general/remove_mispairs.pl
export SEPARATE_PAIRED_FASTQ=/path/to/genomics/NGS-general/separate_paired_fastq.pl
#
# Data files
#
# Location of fastq_screen configuration files
# (leave blank for default)
export FASTQ_SCREEN_CONF_DIR=/path/to/conf_file_dir
# Extensions for letterspace and colorspace indexes
# e.g. if conf file is 'fastq_screen_model_organisms_nt.conf' for
# letterspace then the extension is '_nt'
export FASTQ_SCREEN_CONF_NT_EXT=_nt
export FASTQ_SCREEN_CONF_CS_EXT=
#
